
/* Variables */

:root{
    --primary-color: #B12D24;
}

/* CSS Reset */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    
}

/* Button */
button{
    display: block;
    margin: 2% auto;
    padding: 0.5rem 1rem;
    border: none;
    background: var(--primary-color);
    color: #fff;
}

/* popup */
.popup-section{
    /* Transparent Background */
    position:fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
}

.popup-section > div.popup-text{
    width: 100%;
    max-width: 400px;
    background: #fff;
    position: relative;
    margin: 10% auto;
}

.popup-section .popup-text .popup-close{
    text-align: right;
    padding: 8px 10px;
    cursor: pointer; 
} 

.popup-section .popup-text .popup-message{
     padding: 0.5rem 1rem; 
     text-align: center;
}

.popup-section .popup-text .popup-message h1{
    text-align: center;
    margin-bottom: 0.75rem;
}

.popup-section .popup-text .popup-message p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: normal;
}

.popup-section .popup-text .popup-message a{
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    background: var(--primary-color);
}